<mdb-card class="margen-izquierdo">
  <form class="form-inline md-form form-sm active-cyan-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" [(ngModel)]="textoBusqueda" name="textoBusqueda"
      placeholder="Buscar" aria-label="Buscar">
  <i class="fas fa-times" (click)= "resetearTextoBusqueda()"></i>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Gusto</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empanada of (empanadas | buscarPorGusto: textoBusqueda)">
        <td>{{empanada.gusto}}</td>
        <td class="centrado">
          <button class="fas fa-backward" (click)="bajarCantidad(empanada)" [disabled]="hayCero(empanada)"></button>
          <span class="cantidad">{{empanada.cantidad}}</span>
          <button class="fas fa-forward" (click)="subirCantidad(empanada)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" *ngIf="errorMenosDe4Empanadas">
    <strong> Debe pedir un mínimo de 4 empanadas</strong>
  </div>
</mdb-card>

<div class="margen-izquierdo">
  <button type="button" class="btn btn-primary" (click)="finalizarPedido()">Finalizar Pedido</button>
</div>